// Fonts
$font-primary:    'Roboto', sans-serif;
$font-secondary:  'Mont', sans-serif;

// Colors
$text-color:    #3D5266;
$title-color:   #0A2344;
$brand-color:   #235fbc;
$icon-color:    #458EF7;
$sep-color:     #e5f0fe;
$bg-gradient:   linear-gradient(90deg, rgba(235, 245, 255, 1) 0%, rgba(247, 251, 255, 1) 100%);